html, body {
  margin: 0;
  padding-left: 2%;
  padding-right: 2%;
  background: black;
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
}
.sketch {
  display: flex;
  justify-content: center;
  align-items: center;
}