html, body {
  margin: 0;
  padding-left: 2%;
  padding-right: 2%;
  background: black;
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
}
.sketch {
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  display: block;
}

.row {
  width: 100%;
  /*margin: 0 auto;*/
    text-align: center;
}
.block {
    width: 500px;
  /*float: left;*/
    display: inline-block;
    zoom: 1;
}

ul {
  text-align: left;
}